<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ survey.title }}</title>
</head>
<body>
    <h1>{{ survey.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <fieldset>
                <legend>{{ question.question_text }}</legend>
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="{{ question.id }}" value="{{ choice.id }}" required>
                    {{ choice.choice_text }}<br>
                {% endfor %}
            </fieldset>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
